body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #CFD8DC;
}

.text_default {
	font-family: 'Anton', sans-serif;
	font-size: 20vw;
}

.text_title {
	font-family: 'Bungee Shade', cursive;
	font-size: 40vw;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#viewport_container {
	position: relative;
	left: 0px;
	top: 0px;
}

.menu{
  float: center;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  flex: 1;
  font-size: 40px;
  vertical-align:top;
  width: 300px;
  height: 300px;
  background-color: rgb(95, 133, 52);
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.825);
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

button{
  width: 200px;
  height: 60px;
  border: none;
  background: #499236;
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.825);
  font-weight: bold;
}

.score-announcement{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-30%);
  z-index:1;
  opacity: 0;
  font-family: Andale Mono, monospace;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.score{
  font-family: Andale Mono, monospace;
  text-shadow: 2px 2px 4px #499236;
  font-size: 25px;
}

@keyframes score-announcement-animation{
  0%{
    display: block;
    transform: translate(-50%,-30%);
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    transform: translate(-50%,-50%);
    opacity: 0;
  }
}